 <br /> 
  <div class="container">
  <form action="/insert_pro" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nome  </label>
    <input type="name" class="form-control" id="nome" aria-describedby="emailHelp" name="nome">
    
    <label for="exampleInputEmail1" class="form-label">Descrição </label>
    <input type="text" class="form-control" id="descricao" aria-describedby="emailHelp" name="descricao">

    <label for="exampleInputEmail1" class="col-form-label">Preço</label>
    <input type="text" id="preco" class="form-control" aria-describedby="passwordHelpInline" name="preco">
    
    <label for="exampleInputEmail1" class="col-form-label">URL da Imagem</label>
    <input type="text" id="codigo" class="form-control" aria-describedby="passwordHelpInline" name="codigo">
  </div>
  
  <div class="col-auto">
     <button type="submit" class="btn btn-outline-dark">Cadastrar</button>
  </div>
    
  </form>
  </div>