<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />      
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Inicio</title>
</head>
  
<body>
  <h1><center>Bem-Vindo(a) a Loja da Ana</center></h1>
  <p><center>Aqui nós vendemos os mais variados tipo de roupas.</center></p>
</body>
</html>